@model string[]
@{
    ViewData["Title"] = "Логи";
}
<h1>@ViewData["Title"]</h1>
<hr>
<div>
    <ul>
        @foreach (var logFile in Model)
        {
            <li>
                <a asp-area="" class="text-start" asp-controller="Programs" asp-action="Log" asp-route-logName=@logFile>@logFile</a>
            </li>
        }
    </ul>
</div>
